@import "colors";


// Variables section
// Flat and raised button standards
$mat-button-padding: 0 8px !default;
$mat-button-min-width: 96px !default;
$mat-button-margin: 0 !default;
$mat-button-line-height: 32px !default;
$mat-button-border-radius: 3px !default;
$mat-button-focus-transition: opacity 200ms $swift-ease-in-out-timing-function,
                              background-color 200ms $swift-ease-in-out-timing-function !default;

// Fab standards
$mat-fab-border-radius: 50% !default;
$mat-fab-size: 64px !default;
$mat-fab-padding: 16px !default;

$mat-mini-fab-size: 40px !default;
$mat-mini-fab-padding: 8px !default;

// Capsilon specific
$cap-button-font-size: 12px !default;
$cap-button-font-weight: bold !default;
$cap-button-text-transform: uppercase !default;
$cap-button-letter-spacing: .5px !default;

$cap-medium-button-font-size: 14px !default;
$cap-medium-button-padding: 0 12px !default;
$cap-medium-button-line-height: 40px !default;
$cap-medium-button-border-radius: 4px !default;

$cap-large-button-font-size: 16px !default;
$cap-large-button-padding: 0 16px !default;
$cap-large-button-line-height: 48px !default;
$cap-large-button-border-radius: 5px !default;


// Mixins sections
@mixin mat-button-base {
  // Sizing.
  margin: $mat-button-margin;
  min-width: $mat-button-min-width;
  line-height: $mat-button-line-height;
  padding: $mat-button-padding;
  border-radius: $mat-button-border-radius;

  // Capsilon specific
  height: $mat-button-line-height;
  font-size: $cap-button-font-size;
  font-weight: $cap-button-font-weight;
  text-transform: $cap-button-text-transform;
  letter-spacing: $cap-button-letter-spacing;
}


// Styles section
a,
button {
  &.mat-button,
  &.mat-raised-button,
  &.cap-button {
    @include mat-button-base;
  }

  &.cap-icon-button {
    min-width: 0;
    width: $mat-button-line-height;

    & .mat-icon {
      margin-right: 0;
    }
  }

  &.mat-fab {
    width: $mat-fab-size;
    height: $mat-fab-size;
  }
  &.mat-fab,
  &.mat-mini-fab {
    & .mat-button-wrapper {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  // Button content vertical align
  &.mat-button,
  &.mat-raised-button,
  &.mat-fab,
  &.mat-mini-fab,
  &.cap-button {
    & .mat-button-wrapper {
      display: inline-flex;
      align-items: center;
      height: 100%;
    }
  }

  // Sizes
  &.mat-button,
  &.mat-raised-button,
  &.cap-button {
    &.medium {
      padding: $cap-medium-button-padding;
      font-size: $cap-medium-button-font-size;
      line-height: $cap-medium-button-line-height;
      height: $cap-medium-button-line-height;
      border-radius: $cap-medium-button-border-radius;
      min-width: 120px;
    }

    &.large {
      padding: $cap-large-button-padding;
      font-size: $cap-large-button-font-size;
      line-height: $cap-large-button-line-height;
      height: $cap-large-button-line-height;
      border-radius: $cap-large-button-border-radius;
      min-width: 160px;
    }
  }
  &.mat-icon-button,
  &.cap-icon-button {
    &.medium {
      padding: 0;
      width: $cap-medium-button-line-height;
      height: $cap-medium-button-line-height;
      min-width: 120px;
    }

    &.large {
      padding: 0;
      width: $cap-large-button-line-height;
      height: $cap-large-button-line-height;
      min-width: 160px;
    }
  }
}

// Add styles for icons that inserted into buttons
.mat-button,
.mat-raised-button,
.cap-button {
  & .mat-icon {
    margin-right: 8px;

    &.mat-icon-left {
      margin-right: 0;
      margin-left: 8px;
    }
  }
}


// Theming section
@mixin _mat-button-hover-color($theme) {

  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $success: map-get($theme, success);
  $warn: map-get($theme, warn);
  $critical: map-get($theme, critical);
  $background: map-get($theme, background);

  &.mat-primary:hover {      
    &:not([disabled]) { 
      background-color: lighten(mat-color($primary, default), 4%);
    }
  }

  &.mat-accent:hover {
    &:not([disabled]) { 
      background-color: lighten(mat-color($accent, default), 4%);
    }
  }

  &.mat-warn:hover {    
    &:not([disabled]) { 
      background-color:  lighten(mat-color($warn, lighter), 4%);
    }
  }

  // Capsilon specific
  &.mat-success:hover {
    &:not([disabled]) { 
      background-color:  lighten(mat-color($success, lighter), 4%);
    }
  }
  &.mat-critical:hover{
    &:not([disabled]) { 
      background-color:  lighten(mat-color($critical, lighter), 4%);
    }
  }

  &:hover {
    &:not([disabled]) {
      transition: background-color 0.3s ease;
      background-color: mat-color($background, hover-button);
    }
  }  
}

@mixin _mat-button-focus-color($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $success: map-get($theme, success);
  $warn: map-get($theme, warn);
  $critical: map-get($theme, critical);

  &.mat-primary {
    .mat-button-focus-overlay {
        background-color: mat-color($accent, 0.12);    
    }
  }

  &.mat-accent .mat-button-focus-overlay {
    background-color: mat-color($accent, 0.12);
  }

  &.mat-warn .mat-button-focus-overlay {
    background-color: mat-color($warn, 0.12);
  }

  &.mat-success .mat-button-focus-overlay {
    background-color: mat-color($success, 0.12);
  }
  &.mat-critical .mat-button-focus-overlay {
    background-color: mat-color($critical, 0.12);
  }

  &[disabled], &:hover {
      .mat-button-focus-overlay {
      background-color: transparent;
    }
  }
}

@mixin _mat-button-ripple-color($theme, $hue, $opacity: 0.2) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $success: map-get($theme, success);
  $warn: map-get($theme, warn);
  $critical: map-get($theme, critical);

  &.mat-primary .mat-ripple-element {
    background-color: mat-color($primary, $hue, $opacity);
  }

  &.mat-accent .mat-ripple-element {
    background-color: mat-color($accent, $hue, $opacity);
  }

  &.mat-warn .mat-ripple-element {
    background-color: mat-color($warn, $hue, $opacity);
  }

  // Capsilon specific
  &.mat-success .mat-ripple-element {
    background-color: mat-color($success, $hue, $opacity);
  }
  &.mat-critical .mat-ripple-element {
    background-color: mat-color($critical, $hue, $opacity);
  }
}

@mixin _mat-button-theme-color($theme, $property, $color: 'default') {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $success: map-get($theme, success);
  $warn: map-get($theme, warn);
  $critical: map-get($theme, critical);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  &.mat-primary {
    #{$property}: mat-color($primary, $color);
  }
  &.mat-accent {
    #{$property}: mat-color($accent, $color);
  }
  &.mat-warn {
    #{$property}: mat-color($warn, $color);
  }

  // Capsilon specific
  &.mat-critical {
    #{$property}: mat-color($critical, $color);
  }
  &.mat-success {
    #{$property}: mat-color($success, $color);
  }
  &.mat-primary,
  &.mat-accent,
  &.mat-warn,
  &.mat-success,
  &.mat-critical,
  &[disabled] {
    &[disabled] {
      //$palette: if($property == 'color', $foreground, $background);
      //#{$property}: mat-color($palette, disabled-button);

      // Caspsilon specific
      opacity: .4;
    }
  }
}

@mixin mat-button-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .mat-button, .mat-icon-button {
    background: transparent;

    @include _mat-button-focus-color($theme);
    @include _mat-button-theme-color($theme, 'color');
  }

  .mat-raised-button, .mat-fab, .mat-mini-fab {
    // Default properties when not using any [color] value.
    color: mat-color($foreground, text);
    background-color: mat-color($background, raised-button);

    @include _mat-button-theme-color($theme, 'color', default-contrast);
    @include _mat-button-theme-color($theme, 'background-color');

    // Add ripple effect with contrast color to buttons that don't have a focus overlay.
    @include _mat-button-ripple-color($theme, default-contrast);
  }

  // Add ripple effect with default color to flat buttons, which also have a focus overlay.
  .mat-button {
    @include _mat-button-ripple-color($theme, default, 0.1);
  }

  // Add ripple effect with default color to the icon button. Ripple color needs to be stronger
  // since the icon button doesn't have a focus overlay.
  .mat-icon-button {
    @include _mat-button-ripple-color($theme, default);
  }

  // Capsilon specific
  .cap-button,
  .cap-icon-button {
    color: mat-color($foreground, text);
    background-color: mat-color($background, raised-button);

    @include _mat-button-theme-color($theme, 'color', default-contrast);
    @include _mat-button-theme-color($theme, 'background-color');
    @include _mat-button-hover-color($theme);

    // Add ripple effect with contrast color to buttons that don't have a focus overlay.
    @include _mat-button-ripple-color($theme, default-contrast);
  }
}