@import "~@angular/material/theming";

@import "styles";
@import "colors";
@import "palettes";
@import "shadows";

@import "layout";
@import "buttons";
@import "checkboxes";
@import "form-fields";
@import "icons";

@include mat-core();

$capsilon-primary:  mat-palette($primary-palette, 500, 300, 900);
$capsilon-accent:   mat-palette($secondary-palette, 500, 300, 700);
$capsilon-warn:     mat-palette($warn-palette, 500, 400, 700);
$capsilon-success:  mat-palette($success-palette, 500, 400, 700);
$capsilon-critical: mat-palette($critical-palette, 500, 400, 800);

@function mat-light-theme(
        $primary,
        $accent,
        $success,
        $warn,
        $critical
) {
        @return (
                primary: $primary,
                accent: $accent,
                success: $success,
                warn: $warn,
                critical: $critical,
                is-dark: false,
                foreground: $mat-light-theme-foreground,
                background: $mat-light-theme-background,
        );
}

$mat-light-theme-background: (
        status-bar: map_get($mat-grey, 300),
        app-bar:    map_get($mat-grey, 100),
        background: map_get($mat-grey, 50),
        hover:      rgba(black, 0.04), // TODO(kara): check style with Material Design UX
        card:       white,
        dialog:     white,
        disabled-button: $black-12-opacity,
        raised-button: $smoke,
        focused-button: rgba(black, 0.12),
        hover-button: darken($smoke, 4%),
        selected-button: map_get($mat-grey, 300),
        selected-disabled-button: map_get($mat-grey, 400),
        disabled-button-toggle: map_get($mat-grey, 200),
        unselected-chip: map_get($mat-grey, 300),
        disabled-list-option: map_get($mat-grey, 200),
);
$mat-light-theme-foreground: (
        base:              black,
        divider:           $black-12-opacity,
        dividers:          $black-12-opacity,
        disabled:          rgba(black, 0.38),
        disabled-button:   rgba(black, 0.38),
        disabled-text:     rgba(black, 0.38),
        hint-text:         rgba(black, 0.38),
        secondary-text:    rgba(black, 0.54),
        icon:              rgba(black, 0.54),
        icons:             rgba(black, 0.54),
        text:              rgba($black, 0.6),
        slider-min:        rgba($black, 0.6),
        slider-off:        rgba(black, 0.26),
        slider-off-active: rgba(black, 0.38),
);

$capsilon-theme: mat-light-theme(
        $capsilon-primary,
        $capsilon-accent,
        $capsilon-success,
        $capsilon-warn,
        $capsilon-critical
);

@include angular-material-theme($capsilon-theme);