$primary: #3990D8;
$primary-light: lighten(saturate($primary, 32.91), 10.00);
$primary-dark: darken(desaturate($primary, 7.95), 17.06);
$primary-disabled: lighten(desaturate(adjust-hue($primary, 1), 26.46), 21.37);

$secondary: #8680D8;
$secondary-light: lighten(saturate($secondary, 13.65), 9.02);
$secondary-dark: darken(desaturate($secondary, 6.86), 8.24);
$secondary-disabled: lighten(desaturate($secondary, 5.19), 14.51);

$critical: #EB5164;
$critical-light: lighten(saturate($critical, 11.04), 5.29);
$critical-dark: darken(desaturate($critical, 12.14), 7.45);
$critical-disabled: lighten(desaturate(adjust-hue($critical, 1), 30.66), 22.75);

$warning: #F5A623;
$warning-light: lighten(saturate($warning, 8.70), 4.51);
$warning-dark: darken(desaturate(adjust-hue($warning, -1), 11.15), 4.31);
$warning-disabled: lighten(desaturate($warning, 11.64), 21.96);

$success: #7CB86C;
$success-light: lighten(saturate($success, 2.37), 5.88);
$success-dark: darken(desaturate($success, 4.94), 7.06);
$success-disabled: lighten(desaturate(adjust-hue($success, 1), 5.77), 21.18);

$attention: #FFEB3B;

$dark: #364C5E;
$black: #0B1C2B;
$white: #fff;
$snow: lighten(desaturate(adjust-hue($black, -28), 52.59), 86.47);
$smoke: lighten(desaturate(adjust-hue($black, 2), 51.57), 84.31);
$silver: lighten(desaturate(adjust-hue($black, 2), 53.70), 75.29);
$black20: fade_out($black, 0.8);
$black40: fade_out($black, 0.6);
$black60: fade_out($black, 0.4);
$black80: fade_out($black, 0.2);
$black95: fade_out($black, 0.95);
$grey: #54606A;
$grey15: fade_out($grey, 0.15);

.color-primary{
  background-color: $primary;
}

.color-prim-light{
  background-color: $primary-light;
}

.color-prim-dark{
  background-color: $primary-dark;
}

.color-prim-disabled{
  background-color: $primary-disabled;
}

.color-secondary{
  background-color: $secondary;
}

.color-sec-light{
  background-color: $secondary-light;
}

.color-sec-dark{
  background-color: $secondary-dark;
}

.color-sec-disabled{
  background-color: $secondary-disabled;
}

.color-critical{
  background-color: $critical;
}

.color-crit-light{
  background-color: $critical-light;
}

.color-crit-dark{
  background-color: $critical-dark;
}

.color-crit-disabled{
  background-color: $critical-disabled;
}

.color-warning{
  background-color: $warning;
}

.color-warn-light{
  background-color: $warning-light;
}

.color-warn-dark{
  background-color: $warning-dark;
}

.color-warn-disabled{
  background-color: $warning-disabled;
}

.color-success{
  background-color: $success;
}

.color-succ-light{
  background-color: $success-light;
}

.color-succ-dark{
  background-color: $success-dark;
}

.color-succ-disabled{
  background-color: $success-disabled;
}

.white {
  background-color: $white;
}

.snow {
  background-color: $snow;
}

.smoke {
  background-color: $smoke;
}

.silver {
  background-color: $silver;
}

.black20 {
  background-color: $black20;
}

.black40 {
  background-color: $black40;
}

.black60 {
  background-color: $black60;
}

.black80 {
  background-color: $black80;
}

.black {
  background-color: $black;
}

.dark {
  background-color: $dark;
}

