@mixin mat-form-field-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $success: map-get($theme, success);
  $warn: map-get($theme, warn);
  $critical: map-get($theme, critical);

  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $is-dark-theme: map-get($theme, is-dark);

  // Placeholder colors. Required is used for the `*` star shown in the placeholder.
  $placeholder-color: mat-color($foreground, secondary-text);
  $focused-placeholder-color: mat-color($primary);
  $required-placeholder-color: mat-color($accent);

  // Underline colors.
  $underline-color: mat-color($foreground, divider, if($is-dark-theme, 0.7, 0.42));
  $underline-color-accent: mat-color($accent);
  $underline-color-warn: mat-color($warn);
  $underline-focused-color: mat-color($primary);

  // Capsilon specific
  $underline-color-success: mat-color($success);
  $underline-color-critical: mat-color($critical);


  .mat-form-field-placeholder {
    color: $placeholder-color;
  }

  .mat-hint {
    color: mat-color($foreground, secondary-text);
  }

  .mat-focused .mat-form-field-placeholder {
    color: $focused-placeholder-color;

    &.mat-accent {
      color: $underline-color-accent;
    }

    &.mat-warn {
      color: $underline-color-warn;
    }

    // Capsilon specific
    &.mat-success {
      color: $underline-color-success;
    }
    &.mat-critical {
      color: $underline-color-critical;
    }
  }

  .mat-focused .mat-form-field-required-marker {
    color: $required-placeholder-color;
  }

  .mat-form-field-underline {
    background-color: $underline-color;
  }

  .mat-form-field-disabled .mat-form-field-underline {
    @include mat-control-disabled-underline($underline-color);
  }

  .mat-form-field-ripple {
    background-color: $underline-focused-color;

    &.mat-accent {
      background-color: $underline-color-accent;
    }

    &.mat-warn {
      background-color: $underline-color-warn;
    }

    // Capsilon specific
    &.mat-success {
      background-color: $underline-color-success;
    }
    &.mat-critical {
      background-color: $underline-color-critical;
    }
  }

  // Styling for the error state of the form field. Note that while the same can be
  // achieved with the ng-* classes, we use this approach in order to ensure that the same
  // logic is used to style the error state and to show the error messages.
  .mat-form-field-invalid {
    .mat-form-field-placeholder {
      color: $underline-color-critical;

      &.mat-accent,
      .mat-form-field-required-marker {
        color: $underline-color-critical;
      }
    }

    .mat-form-field-ripple {
      background-color: $underline-color-critical;
    }
  }

  .mat-error {
    color: $underline-color-critical;
  }
}