// The width/height of the icon element.
$mat-icon-size: 16px !default;

$cap-fab-icon-size: 24px !default;

$cap-medium-icon-size: 20px !default;
$cap-large-icon-size: 24px !default;

mat-icon.mat-icon {
  //background-repeat: no-repeat;
  //display: inline-block;
  //fill: currentColor;
  height: $mat-icon-size;
  width: $mat-icon-size;
  font-size: $mat-icon-size;

  // Capsilon specific
  .mat-fab & {
    height: $cap-fab-icon-size;
    width: $cap-fab-icon-size;
    font-size: $cap-fab-icon-size;
    vertical-align: middle;
  }

  .mat-icon-button & {
    line-height: $mat-icon-size;
  }

  .medium &,
  &.medium {
    height: $cap-medium-icon-size;
    width: $cap-medium-icon-size;
    line-height: $cap-medium-icon-size;
    font-size: $cap-medium-icon-size;
  }

  .large &,
  &.large {
    height: $cap-large-icon-size;
    width: $cap-large-icon-size;
    line-height: $cap-large-icon-size;
    font-size: $cap-large-icon-size;
  }
}

// Include this empty mixin for consistency with the other components.
@mixin mat-icon-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $success: map-get($theme, success);
  $warn: map-get($theme, warn);
  $critical: map-get($theme, critical);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .mat-icon {
    &.mat-primary {
      color: mat-color($primary);
    }

    &.mat-accent {
      color: mat-color($accent);
    }

    &.mat-warn {
      color: mat-color($warn);
    }

    // Capsilon specific
    &.mat-success {
      color: mat-color($success);
    }
    &.mat-critical {
      color: mat-color($critical);
    }
  }
}
