html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  min-width: 1024px;
  overflow-x: auto;
}

@mixin display-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}

@mixin flex($grow: 1, $shrink: 1, $basis: auto) {
  -webkit-flex: $grow $shrink $basis;
  -moz-flex: $grow $shrink $basis;
  -ms-flex: $grow $shrink $basis;
  flex: $grow $shrink $basis;
}

@mixin flex-direction($value: row) {
  @if $value == row-reverse {
    -webkit-box-direction: reverse;
    -webkit-box-orient: horizontal;
  } @else if $value == column {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
  } @else if $value == column-reverse {
    -webkit-box-direction: reverse;
    -webkit-box-orient: vertical;
  } @else {
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
  }
  -webkit-flex-direction: $value;
  -moz-flex-direction: $value;
  -ms-flex-direction: $value;
  flex-direction: $value;
}

@mixin flex-wrap($value: nowrap) {
  -webkit-flex-wrap: $value;
  -moz-flex-wrap: $value;
  @if $value == nowrap {
    -ms-flex-wrap: none;
  } @else {
    -ms-flex-wrap: $value;
  }
  flex-wrap: $value;
}

.flex {
  @include display-flex;

  & > div {
    @include flex();
  }
}

.flex-column {
  @include flex-direction(column);
}

.flex-wrap {
  @include flex-wrap(wrap);
}

#app {
  height: 100%;
  @extend .flex;

  header {
    @include flex(0, 1, auto);
  }

  section {
    @include flex(1, 1, 100%);
  }

  footer {
    @include flex(0, 1, auto);
  }
}

.container {
  height: 100%;
  min-width: 320px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
