@import "colors";

.cp-shadow-1-px {
  border: 1px solid fade_out($black, 0.95);
}

.cp-shadow-flat {
  box-shadow: 0 3px 0 0 fade_out($black, 0.85);
}

.cp-shadow-list-item {
  box-shadow: inset 0 -1px 0 0 fade_out($black, 0.95);
}

.cp-shadow-last-list-item {
  box-shadow: inset 0 -1px 0 0 fade_out($black, 0.99);
}

.cp-shadow-l1 {
  box-shadow: 0 2px 2px 0 fade_out($black, 0.85);
}

.cp-shadow-l2 {
  box-shadow: 0 4px 7px 0 fade_out($black, 0.85);
}

.cp-shadow-l3 {
  box-shadow: 0 6px 12px 0 fade_out($black, 0.82);
}

.cp-shadow-l4 {
  box-shadow: 0 8px 17px 0 fade_out($black, 0.8);
}

.cp-shadow-l5 {
  box-shadow: 0 10px 22px 0 fade_out($black, 0.77);
}

.cp-shadow-prompt-primary {
  box-shadow: inset 4px 0 0 0 $primary;
}

.cp-shadow-prompt-critical {
  box-shadow: inset 4px 0 0 0 $critical;
}

.cp-shadow-prompt-warning {
  box-shadow: inset 4px 0 0 0 $warning;
}

.cp-shadow-prompt-success {
  box-shadow: inset 4px 0 0 0 $success;
}

.cp-shadow-prompt-attention {
  box-shadow: inset 4px 0 0 0 $attention;
}