@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
//@import 'themes/deeppurple-amber.css';

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    background: #F7F8F8;
}

.condition-dialog {
    .mat-dialog-container {
        padding: 0;
        overflow: hidden;
    }
}

.reader-dialog {
    width: 100%;
    height: 100%;
    max-width: 100% !important;
    .mat-dialog-container {
        padding: 0;
        overflow: hidden;
    }
}